<h2 mat-dialog-title>Wypożycz samochód</h2>
<mat-dialog-content>
  <form [formGroup]="form" class="form-container">
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" placeholder="Wprowadź email" />
      @if(form.get('email')?.invalid && form.get('email')?.touched) {
      <mat-error>Email jest wymagany</mat-error>
      }
      @if(form.get('email')?.hasError('email') && form.get('email')?.touched) {
      <mat-error>Proszę wprowadzić poprawny email</mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Adres</mat-label>
      <input matInput formControlName="address" placeholder="Wprowadź adres" />
      @if(form.get('address')?.invalid && form.get('address')?.touched) {
      <mat-error>Adres jest wymagany</mat-error>
      }
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button (click)="onCancel()">Anuluj</button>
  <button mat-button color="primary" (click)="onConfirm()">Akceptuj</button>
</mat-dialog-actions>